/**
 * AuthFooter Styles
 * Exact match for Angular footer.component.scss
 */

.auth-footer {
  padding: 0px;
  background-color: transparent;
  bottom: 0;
  width: 100%;
}

.auth-copyright {
  background-color: transparent;
  color: var(--light-grey-color, #b3c1c9);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0px !important;
}
